.carrera-contenedor{
    width: 100%;
    text-align: right;
    justify-content: flex-end;
}

p{  
    text-align: center;
    margin: 15px;
    margin-left: 350px;
    width: 500px;
    color: #000;
    font-family: monospace;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img{
    width: 200px;
    height: 200px;
    border: none;
}

.img-contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -20px;
    margin: 15px;
    margin-left: 350px;
}

p:hover{
    transition: scale(1.2) ease-in-out;
}